name: Docker Compose CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  docker-compose:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Build and run Docker Compose
      run: |
        docker compose up -d
    
    - name: View logs
      if: always()
      run: |
        docker compose logs
    
    - name: Shut down services
      if: always()
      run: |
        docker compose down -v